.venv/*
myshop/__pycache__/*
user_management/__pycache__/*
user_management/migrations/*
*.sqllite3


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
